/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 2:48:35 PM
    Author     : Pedro de León
*/

body{
    background-color: #4c5c68;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Comfortaa', cursive;
    color: #c5c3c6;
}



/**########## HEADER ############ **/
#header{
    height: 150px;
    background-color: #1985a1;
}

.title h1{
    padding-top: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #040505;
}

@media screen and (min-width: 0px) and (max-width: 770px) {
    .title{ display: none; } 
}





/**########## FOOTER ############ **/
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #46494c;
}

.footer-center{
    line-height: 80%;
    padding-top: 20px;
}

#logo-cdis{
    float: left;
    padding-left: 30px;
}


/**########## TABLE ############ **/
table{
    color: #dcdcdd;
}

thead{
    background-color: #c5c3c6;
    color: #1985a1;
}

tbody tr:hover{
    background-color: #dcdcdd;
    color: #46494c;

}

/**########## MESSAGES ############ **/

.info{
    color: blue;
}

.error{
    color: #dc3545;
}

/**########## FORMS ############ **/

.forms{
    color: #dcdcdd;
}


/**########## LOGIN ############ **/

#login-form h1{
    color: #c5c3c6;
    margin-top: 15px;
    font-weight: bolder;
}

#login-form{
    margin-top: 100px;
    background-color: #46494c;
}


/**########## LOGIN ############ **/
.usuarioLogeado{
    position: absolute;
    bottom: 15px;
    right: 25px;
}
